### Convert the below SparkSQL queries into SparkSQL dataframe api

In [0]:
#=======================
txns_df = spark.createDataFrame([
    ("101", "C001", 500, "Tamil Nadu"),
    ("102", "C002", 1500, "Kerala"),
    ("103", "C003", 2000, "Karnataka"),
    ("104", "C004", 700, "Tamil Nadu")
], ["txnid", "custid", "amount", "state"])

cust_df = spark.createDataFrame([
    ("C001", "Arjun"),
    ("C003", "Divya")
], ["custid", "fname"])

In [0]:
%sql
CREATE OR REPLACE TEMP VIEW txns_view1 AS
SELECT * FROM        
(SELECT _c0 as txnid,_c1 as txndate,_c2 as custid,_c3 as txnamount,_c4 as prodname,_c5 as category,_c6 as city,_c7 as state,_c8 as paymenttype FROM txns_view);

select * from txns_view1 limit 10;


CREATE OR REPLACE TEMP VIEW final_view AS
SELECT c.fname,c.lname,c.profession, t.txnamount,t.city,t.state FROM cust_view1 c INNER JOIN txns_view1 t ON c.custid = t.custid WHERE c.profession = 'Pilot' AND c.age > 30;

CREATE OR REPLACE TABLE inceptez_catalog.inputdb.tblcustomertxns AS
SELECT * FROM final_view;