In [0]:
select * from inceptez_catalog.inputdb.tblcusts

insert into inceptez_catalog.inputdb.tblcusts 
select * from inceptez_catalog.inputdb.tblcusts limit 5;

--finding the duplicate records
select custid,count(*) from inceptez_catalog.inputdb.tblcusts group by custid having count(*) > 1;

--delete from inceptez_catalog.inputdb.tblcusts where custid in (4000004,4000005)

with dedup as
(SELECT
  custid,
  fname,
  lname,
  age,
  prof,
  ROW_NUMBER() OVER (PARTITION BY custid order by custid) AS rn
FROM inceptez_catalog.inputdb.tblcusts)
select * from dedup where rn = 1;


select * from
(SELECT
  custid,
  fname,
  lname,
  age,
  prof,
  ROW_NUMBER() OVER (PARTITION BY custid order by custid) AS rn
FROM inceptez_catalog.inputdb.tblcusts) dedup
where rn = 1;

DELETE FROM inceptez_catalog.inputdb.tblcusts
WHERE custid IN (
  SELECT custid FROM (
    SELECT
      custid,
      ROW_NUMBER() OVER (PARTITION BY custid ORDER BY custid) AS rn
    FROM inceptez_catalog.inputdb.tblcusts
  ) t
  WHERE rn > 1
);

insert overwrite inceptez_catalog.inputdb.tblcusts 
select distinct * from inceptez_catalog.inputdb.tblcusts;

--get the max amount product sales at each state

select * from inceptez_catalog.inputdb.tbltxns where state = 'Tennessee' 
union all
select * from inceptez_catalog.inputdb.tbltxns where state = 'California' order by amount desc;

select * from (
select *,row_number() over(partition by state order by amount desc) as rn from inceptez_catalog.inputdb.tbltxns)
where rn = 1;

select *,row_number() over(partition by state order by amount desc) as rn from inceptez_catalog.inputdb.tbltxns qualify rn = 1;

select * from inceptez_catalog.inputdb.tbltxns where state = 'California' order by amount desc limit 1;

select *,row_number() over(partition by state order by txnid desc) as rn from inceptez_catalog.inputdb.tbltxns where state in ('Texas','California','Ohio') limit 10;

tblemployee 
- empid
- empname
- empsal

- To get third highest salary

select *, row_number() over (order by empsal) as rn from tblemployee qualify rn =3

- To get third lowest salary