### Transformation using SQL queries

In [0]:
# Load transaction data
txns_df = spark.createDataFrame([
    ("101", "C001", 500, "Tamil Nadu"),
    ("102", "C002", 1500, "Kerala"),
    ("103", "C003", 2000, "Karnataka"),
    ("104", "C004", 700, "Tamil Nadu")
], ["txnid", "custid", "amount", "state"])

# Load customer data
cust_df = spark.createDataFrame([
    ("C001", "Arjun"),
    ("C003", "Divya"),
    ("C005", "Ravi")
], ["custid", "fname"])

In [0]:
txns_df.createOrReplaceTempView("tbltxns")
cust_df.createOrReplaceTempView("tblcust")
print("Views created")

In [0]:
txns1 = spark.sql("select * from tbltxns where amount > 1000")
txns1.display()

In [0]:
spark.sql("select distinct state from tbltxns").display()

In [0]:
spark.sql("select state, sum(amount) as totalsales from tbltxns group by state").display()

In [0]:
#join using sql query

spark.sql("select c.custid, c.fname, t.amount from tbltxns t inner join tblcust c on c.custid = t.custid").display()